.calendar-wrapper > .addnew-calendar-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 3px;
    padding-top: 10px;
    background-color: #f6f6f6;
}

.calendar-wrapper > .addnew-calendar-wrapper > div.add{
 flex-basis: 9%;
}
.calendar-wrapper >.calendar-header {
    background-color: #f6f6f6;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.calendar-wrapper >.calendar-header > span{
    font-size: 33px;
}