
<div class="edit-form-wrapper">
    <div class="details-header edit-form-header">
        <div class="details-nav-edit cancel-done-nav">
           <div class="teams cancel">
             <a routerLink="/support-dashboard">Cancel</a>
           </div>
           <div class="calendar">
             <span>Calendar</span>
           </div>
           <div class="edit done">
             <a (click)="save()">Done</a>
           </div>
        </div>
      
      </div>
      <router-outlet></router-outlet>
      <div class="calendar">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 750.9 235.3" enable-background="new 0 0 750.9 235.3" xml:space="preserve">
       <g>
         <rect id="Navigation_Bar_Background_16_" x="0.5" y="173.6" opacity="0.89" fill="#1C75BC" width="105.4" height="59.2"/>
         <rect id="Navigation_Bar_Background_7_" x="105.9" y="114.5" opacity="0.89" fill="#1C75BC" width="644.6" height="58.6"/>
         <rect id="Table_Cell_Divider_32_" x="0.5" y="114.5" fill="#C8C7CC" width="750" height="1"/>
         <text id="month" width="644.6" transform="matrix(1 0 0 1 320.3975 42.6055)" fill="#1C75BC" font-family="'OriyaSangamMN-Bold'" font-size="34"></text>
         <g>
           <text transform="matrix(1 0 0 1 28.458 96.7108)" fill="#939598" font-family="'OriyaSangamMN'" font-size="24">S</text>
         </g>
         <line fill="none" x1="724.5" y1="115.5" x2="750.5" y2="115.5"/>
         <g>
           <text transform="matrix(1 0 0 1 119.7534 96.7108)" fill="#231F20" font-family="'OriyaSangamMN'" font-size="24">M</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 246.4659 96.7108)" fill="#231F20" font-family="'OriyaSangamMN'" font-size="24">T</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 365.3062 96.7108)" fill="#231F20" font-family="'OriyaSangamMN'" font-size="24">W</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 492.5215 96.711)" fill="#231F20" font-family="'OriyaSangamMN'" font-size="24">T</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 615.6697 96.711)" fill="#231F20" font-family="'OriyaSangamMN'" font-size="24">F</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 710.626 96.7113)" fill="#939598" font-family="'OriyaSangamMN'" font-size="24">S</text>
         </g>
         <rect id="Table_Cell_Divider_9_" x="0.5" y="172.6" fill="#C8C7CC" width="750" height="1"/>
         <rect id="Table_Cell_Divider_8_" x="0.5" y="232.8" fill="#C8C7CC" width="750" height="1"/>
         <ellipse fill="none" cx="129.4" cy="144.6" rx="23.5" ry="22.5"/>
         <text transform="matrix(1 0 0 1 121.3975 154.2852)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">2</text>
         <g>
           <text transform="matrix(1 0 0 1 252.4312 153.8785)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">3</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 375.6553 153.8785)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">4</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 498.4864 154.4718)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">5</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 621.5151 154.4718)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">6</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 716.5425 154.4718)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">7</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 41.3911 213.6676)" fill="#F1F2F2" font-family="'OriyaSangamMN'" font-size="34">8</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 120.8345 213.6676)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">9</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 235.295 213.6676)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">10</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 358.5196 213.6676)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">11</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 481.3506 213.6676)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">12</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 604.3784 213.6676)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">13</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 693.3784 213.6676)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">14</text>
         </g>
         <g>
           <text transform="matrix(1 0 0 1 25.8076 154.4718)" fill="#939598" font-family="'OriyaSangamMN'" font-size="34">1</text>
         </g>
         <rect id="Table_Cell_Divider_6_" x="0.3" y="233.3" fill="#414042" width="750" height="1"/>
       </g>
       </svg>
      </div>
<div class="dateselected">
  <span class="date-label">Date Selected:</span>
  <span class="day-text" id="day"></span>
  <span class="date-text" id="date"></span> <span>&nbsp;to</span> 
  <span class="day-text" id="endday"></span>
  <span class="date-text" id="enddate"></span>
</div>

<form class="edit-form">
        <div class="form-group">
              <select name="dropdown" id="dropDown" class="dropdown"
                      (change)="onSelect($event.target.value)"
                      [(ngModel)]="selectTeamId">
                <option *ngFor="let team of teams" value="{{team.teamId}}">
                    {{team.teamName}}
                </option>
              </select>

            </div>
              <div class="form-group">
                  <label for="employeeName">Associate Name</label>
                  <input #searchBox  (keyup)="search(searchBox.value)" required minlength="3" maxlength="10"   id="employeeName" type="text" class="form-control employee-name">   
                  </div>   

                  <ul class="search-result">
                    <li *ngFor="let emp of emps">
                      <span class="badge" (click)="setSelectedEmployee(emp.employeeId)">{{emp.employeeId}}</span>{{emp.employeeName}}
                    </li>
                  </ul>

      </form>
</div>
