<div *ngIf="emp" class="oncall-details-wrapper">
  <div class="details-header">
    <div class="details-nav-edit">
       <div class="teams">
         <i></i><a routerLink="/support-dashboard">Teams</a>
       </div>
       <div class="edit">
         <a routerLink="/empForm">Edit</a>
       </div>
    </div>
    <span class="team-logo">?</span> 
    <span class="team-name">{{ emp.teamName | uppercase }}  </span>
  
  </div>
  <router-outlet></router-outlet>
  <div class="col-1-2">
    <label>employeeName: {{emp.employeeName}}
    
    </label>
  </div>
  <div class="col-1-2">
    <label>employeePhone: {{emp.employeePhone}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation1Name: {{emp.escalation1Name}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation1Phone: {{emp.escalation1Phone}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation2Name: {{emp.escalation2Name}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation2Phone: {{emp.escalation2Phone}}
    </label>
  </div>
</div>