<div *ngIf="emp">
  <h2>{{ emp.teamName | uppercase }} Details</h2>
  
  <div class="col-1-2">
    <label>employeeName: {{emp.employeeName}}
    
    </label>
  </div>
  <div class="col-1-2">
    <label>employeePhone: {{emp.employeePhone}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation1Name: {{emp.escalation1Name}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation1Phone: {{emp.escalation1Phone}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation2Name: {{emp.escalation2Name}}
    </label>
  </div>
  <div class="col-1-2">
    <label>escalation2Phone: {{emp.escalation2Phone}}
    </label>
  </div>
</div>