<div *ngIf="emp" class="oncall-details-wrapper">
  <div class="details-header">
    <div class="details-nav-edit">
       <div class="teams">
         <i></i><a routerLink="/support-dashboard">Teams</a>
       </div>
       <div class="edit">
         <a routerLink="/empForm">Edit</a>
       </div>
    </div>
    <span class="team-logo">?</span> 
    <span class="team-name">{{ emp.teamName | uppercase }}  </span>
  
  </div>
  <router-outlet></router-outlet>
  <div class="oncall-wrapper">
    <div class="oncall-details-wrapper">
        <div class="oncall-image">
            <img src="http://via.placeholder.com/140x100" alt="">
          </div>
          <div class="oncall-details">
             {{emp.employeeName}}
          </div>
    </div>
<div class="oncall-phone-wrapper">
  <div class="oncall-phone">
    <span class="oncall-label">phone</span>
    <span class="oncall-number">{{emp.employeePhone}}</span>

    </div>  


  </div>
</div>
<div class="oncall-wrapper">
    <div class="oncall-details-wrapper">
        <div class="oncall-image">
            <img src="http://via.placeholder.com/140x100" alt="">
          </div>
          <div class="oncall-details">
              {{emp.escalation1Name}}
          </div>
    </div>
<div class="oncall-phone-wrapper">
  <div class="oncall-phone">
    <span class="oncall-label">phone</span>
    <span class="oncall-number">{{emp.escalation1Phone}}</span>

    </div>  


  </div>
</div>
<div class="oncall-wrapper">
    <div class="oncall-details-wrapper">
        <div class="oncall-image">
            <img src="http://via.placeholder.com/140x100" alt="">
          </div>
          <div class="oncall-details">
              {{emp.escalation2Name}}
          </div>
    </div>
<div class="oncall-phone-wrapper">
  <div class="oncall-phone">
    <span class="oncall-label">phone</span>
    <span class="oncall-number">{{emp.escalation2Phone}}</span>

    </div>  


  </div>
</div>
 
</div>