<header class="header">
  <h3>IT TEAMS</h3>
</header>
<div class="container">
<div class="timeperiod">
    <p>Week of <strong>Monday</strong> 01/02/18 to <strong>Sunday</strong> 01/08/18</p>
</div>
<ul class="list-group">
        <li class="list-group-item" *ngFor="let team of teams" routerLink="/detail/{{team.teamId}}">
          <div class="information-wrapper">
               <div class="image">
                <span>?</span>
               </div>
               <div class="description">
                <span class="teamname">{{team.teamName}}</span>
                <span class="oncall-label">On call:</span><span class="oncall-person">{{team.employeeName}}</span>
               </div>
               <div class="navigation-arrow">
                <svg class="arrows"
                version="1.1"
                baseProfile="full"
                xmlns="http://www.w3.org/2000/svg"
                width="40" height="40">
             <polyline stroke-linejoin="miter"
               points="12,4 28,20 12,36" />
           </svg>    
               </div>
          </div>
          <hr class="horizontal-rule"/>
          
        </li>
        
      </ul>

</div>


