/* You can add global styles to this file, and also import other style files */

html {
    position: relative;
    min-height: 100%;
  }
  body {
   
    margin-bottom: 60px;
  }
  .header > h3{
      margin: 0 !important;
      text-align: left !important;
  }
  .timeperiod{
    padding: 10px;
    background: #f0f7ff;;
    padding-bottom: 1px;
    margin-bottom: 10px;
  }
  .timeperiod > p{
      color: #1c75bc;
  }
  .container{
      padding: 0;
  }
.list-group-item{
    padding-top: 0px;
    padding-bottom: 10px;
    border-radius: 0px !important;
    border: none !important;
}
.list-group-item > .horizontal-rule{
    margin-top: 6px !important;
    width: 91%;
    position: relative;
    right: -31px;
    margin-bottom: 0px !important;

}
.arrows {
    stroke: #ddd;
    stroke-width: 2;
    fill: none;
}
.information-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.information-wrapper > .image{
    flex-basis:25%;
}
.information-wrapper > .image > img{
    max-width: 80%;
}
.information-wrapper > .image > span{
    height: 30px;
    width: 30px;
    color: #ffffff;
    background: #a9a9a9;
    display: block;
    border-radius: 50%;
    font-size: 19px;
    text-align: center;
    line-height: 1.7;
}
.information-wrapper > .description {
    flex-basis: 100%;
}
.information-wrapper > .description > span.teamname{
    text-transform: capitalize;
    display: block;
    font-size: 15px;
}
.information-wrapper > .description > span.oncall-label{
    text-transform: capitalize;
    display: block;
    font-size: 14px;
}
.information-wrapper > .description > span.oncall-person{
    text-transform: capitalize;
    display: block;
    font-size: 13px;
}
.information-wrapper > .navigation-arrow{
    flex-basis: 46%;
    text-align: right;
}
.information-wrapper > .navigation-arrow > i{
    background: url('/assets/images/arrow.svg');

}
#app {
    display: none;
}
#loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url(http://localhost:4200/assets/images/loading_screen.svg);
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
}

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f6f6f6;
    z-index: 999999;
  }
  
  .footer > .footer-items-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
  }
  .footer > .footer-items-wrapper > .teams-link{
      display: block;
      font-size: 10px;
      color:#E77504;
  }
  .footer > .footer-items-wrapper >.teams-wrapper > div,   .footer > .footer-items-wrapper >.calendar-wrapper > div,   .footer > .footer-items-wrapper >.calls-wrapper > div{
      line-height: 0.5;
      margin-top: 2px;
  }
  .footer > .footer-items-wrapper >.teams-wrapper > div > .teams-link{
    display: block;
    font-size: 10px;
    color:#a9a9a9;
}
.footer > .footer-items-wrapper >.calendar-wrapper > div > a, .footer > .footer-items-wrapper >.calls-wrapper > div > a{
    display: block;
    font-size: 10px;
    color:#a9a9a9;
}
.footer > .footer-items-wrapper >.teams-wrapper > div.active >a, .footer > .footer-items-wrapper >.calendar-wrapper > div.active >a {
    color:#E77504;
    text-decoration: none;
}
  .footer > .footer-items-wrapper > div{
      flex-basis: 33.33%;
      padding-top: 10px;
      text-align: center;
  }
  .footer > .footer-items-wrapper > div.active > svg path{

          fill:#E77504;
  }
  .oncall-details-wrapper > .details-header{
     background: #f6f6f6;
  }
  .oncall-details-wrapper > .details-header > img{
    display: block;
    margin: auto;

  }
  .details-nav-edit {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 15px;
  }
  .details-nav-edit > div.teams{
      flex-basis:50%
  }
  .details-nav-edit > div.edit{
    flex-basis:50%;
    text-align: right;
}
.details-header > .team-logo{
    display: block;
    text-align: center;
    width: 40px;
    height: 40px;
    background: #a9a9a9;
    border-radius: 50%;
    margin: auto;
    color: #fff;
    line-height: 1.95;
    font-size: 20px;
}
.details-header > .team-name{
    display: block;
    text-align: center;
    margin: auto;
    padding-top: 8px;
    font-size: 20px;
    padding-bottom: 20px;
}
.oncall-wrapper{
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-left: 2px;
    padding-bottom:10px;
    border-bottom:20px solid #f6f6f6;
    padding-right: 0px;
}
.oncall-wrapper > .oncall-details-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
}
.oncall-wrapper > .oncall-details-wrapper  > .oncall-image{
    flex-basis: 25%;
    text-align: center;
}
.oncall-wrapper > .oncall-details-wrapper  > .oncall-image > img{
   width: 46.5px;
   height: 45px;
   
}
.oncall-wrapper > .oncall-phone-wrapper{
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-right: 0px;
}
.oncall-wrapper > .oncall-phone-wrapper > .oncall-phone{
    flex-basis: 50%;
}
.oncall-wrapper > .oncall-phone-wrapper > .oncall-phone > .oncall-label{
    display: block;
    color:#0079FF;
}
.oncall-wrapper > .oncall-phone-wrapper >.oncall-tools{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.oncall-wrapper > .oncall-phone-wrapper >.oncall-tools > div{
    flex-basis: 22%;
}
.edit-form-wrapper > form.edit-form{
    margin-top: 20px;
}
.edit-form-wrapper > .edit-form-header{
    background:#f6f6f6;
}
.edit-form-wrapper > form.edit-form > .form-group > .dropdown{
    background:none;
    border-right: 0px;
    border-left:0px;
    width:60%;
    margin-left:20px;
    border-top:0px;
    border-bottom:1px solid #cccccc;
    border-radius: 0px;
}
.edit-form-wrapper > .dateselected{
  padding: 20px;
  border-bottom: 1px solid #dddddd;
}
.edit-form-wrapper > .dateselected > .date-label{
 color: #e77504;
 display: block;
 font-weight: 500;
}
.edit-form-wrapper > .dateselected > .day-text{
    color: #e77504; 
    display: inline-block;
}
.edit-form-wrapper > .dateselected > .date-text{
    color: #e77504; 
    display: inline-block;
}
.edit-form-wrapper > .dateselected > span{
    color: #e77504; 
}
.edit-form-wrapper > form.edit-form > .form-group > label{
    margin-left:20px;
    font-weight: 400;
    color:black;
    margin-bottom: 0px;
    margin-bottom: 0px;
    font-size: 11px; 
}
.edit-form-wrapper > form.edit-form > .form-group > .employee-name{
    background:none;
    border-right: 0px;
    border-left:0px;
    width:60%;
    margin-left:20px;
    border-top:0px;
    border-bottom:1px solid #cccccc;
    border-radius: 0px;
    box-shadow: none !important;
    padding-left: 0px;
}
